@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@1,300&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important;
  background-color: rgb(27, 19, 33);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ds1{
  box-shadow: rgba(141, 45, 45, 0.12) 0px 2px 4px 0px, rgba(207, 61, 90, 0.32) 0px 2px 16px 0px;
}
.spinner{
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
p{
  margin: 5px !important;
  padding: 0;
}

.btn1{
 padding-right: 50px;
 padding-left: 50px;
 background-color: rgb(146, 84, 49);
 border-radius: 20px;
 font-size: large;
 color: beige;
 
}

.btn1:hover{
  background-color: #1f1f1f;
  transition: 1s;
  border: none;
  text-decoration: none;
}

#carid{
  text-decoration: none;
  color:white;
}

button{
  padding: 3px 10px;
}
.header{
  padding: 10px;
}
.header .ant-btn{
  box-shadow: none;
  background-color: white;
  color: orangered ;
  border: 1px solid orangered;
  padding: 5px 15px ;
  outline: none ;
}
.content{
min-width: 90vh;
}
.car{
  border-radius: 5px;
  margin-top: 60px;
  transition: 0.3s;
}
.car :hover{
  border-radius: 40px;
}
.car:hover  .car-content{
  opacity: 1;
  transition: 0.6s;
  transform: translateY(-40px);
  
}
.carimg{
  height: 185px;
  width: auto;
  border-radius:5px;
  transform: translateY(-50px);

}
.car-content{
  font-size: 20px;
  opacity: 0;
  transition:0.3s ;
  color: #CBE4DE;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color:white !important;
  opacity: 0.6;
}
.login-from{
  background-color: #1f1f1f;
}
.login-from input{
  background-color: #333333 !important;
  border: none !important;
  color: white;
  opacity: 0.5;
}
.login-logo{
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  bottom: 50%;
  transform: translateY(-50%,-50%);
  font-size: 30px;
  opacity: 0.2 !important;
}
.login a{
  color: white !important;
  opacity: 0.5;
}

/* BookingCars Css*/

.containInfo {
  display: flex;
}

.column {
  padding: 10px;
}

.bookImg{
  height: 385px;
  width:fit-content;
  border-radius:5px;
  transform: translateX(-10px);
  transition: 0.5s;
  animation:animate 15s linear infinite;
  cursor: pointer;
}
.bookImg:hover{
}


/* Icons Style*/
#divIcons{
  transform: translateX(-700px);
  margin-left: 100px;
  color:rgb(255, 255, 255);
}
#icons{
  font-size: 100px;

  margin-bottom: 20px;
  margin-left: 100px;

  color:gray;
}
#pInfo{
  font-size: 30px;
  margin-left: 120px;
}